<!DOCTYPE html>
<html lang="en" ng-app="policlaudio">

<head>

    <meta charset="utf-8">

    <meta property="og:title" content="Claudio Poli - Fotografia Macro e Naturalistica"/>
    <meta property="og:description" content="Autore: Claudio Poli fotografo ed escursionista marchigiano,
										  Filosofia: La bellezza delle cose esiste nella mente di chi le osserva - D.Home,
										  Categoria: Fotografia Macro e Naturalistica,
										  Luogo: Molte delle foto presentate sono state scattate presso i Monti del Furlo (Marche),
										  Contenuto: Fotografia Naturalistica e Macrofotografia o Macro fotografia - Le foto sono
										  organizzate e classificate scientificamente,
										  Acquisto: Per consigli, correzioni o informazioni sull'acquisto di foto in formato originale contattare
										  Claudio Poli all'indirizzo info@policlaudio.com"/>
    <meta property="og:url" content="http://policlaudio.com"/>
    <meta property="og:image" content="https://poli-claudio.appspot.com/img/icon-192x192.png"/>

    <meta name="robots" content="index,follow,snippet,odp,archive,imageindex"/>
    <meta name="googlebot" content="index,follow,snippet,odp,archive,imageindex"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi aspettano per festeggiare il loro Matrimonio!">
    <meta name="author" content="Simone Tallevi-Diotallevi">

    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <link href="manifest.json" rel="manifest">

    <title>Claudio Poli - Fotografia Macro e Naturalistica</title>

    <link href="vendor/angular-material/angular-material.min.css" rel="stylesheet" type="text/css">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/app.css" rel="stylesheet" type="text/css">

    <script src="vendor/jquery/jquery.min.js"></script>

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular/angular-aria.min.js"></script>
    <script src="vendor/angular/angular-animate.min.js"></script>
    <script src="vendor/angular/angular-ui-router.min.js"></script>
    <script src="vendor/angular/angular-scroll.min.js"></script>

    <script src="vendor/angular-material/angular-material.min.js"></script>

    <script src="app.js"></script>

    <script src="shared/constants.js"></script>
    <script src="shared/services.js"></script>

    <script src="partials/main.js"></script>
    <script src="partials/home/home.js"></script>

</head>

<body ng-controller="MainCtrl as Main" ng-init="Main.init()" ng-cloak>

    <md-toolbar id="top-toolbar" class="md-primary md-hue-2">
        <div class="md-toolbar-tools" layout="row">

            <div ng-if="Main.sliceIndex[0] > 1" layout="row">
                <md-menu>
                    <md-button aria-label="" ng-click="Main.openUnSelectMenu($mdMenu)" class="md-accent" style="position:relative">
                        {{Main.sliceIndex[0]}}... <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="filter in Main.selectedFilters | slice:0:Main.sliceIndex[0]">
                            <md-button ng-click="Main.unselectFilterMenu($index)">{{filter}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <div style="padding-top:4px"> > </div>
            </div>
            <div ng-repeat="filter in Main.selectedFilters | slice:(Main.sliceIndex[0] > 1 ? Main.sliceIndex[0] : 0):Main.sliceIndex[1]" layout="row">
                <md-button class="md-accent" ng-click="Main.unselectFilter($index)"> {{filter}} </md-button>
                <div style="padding-top:4px"> > </div>
            </div>

            <md-menu>
                <md-button aria-label="" ng-click="Main.openSelectMenu($mdMenu)" class="md-accent">
                    {{Main.selected}}
                    <i class="fa fa-caret-down" aria-hidden="true" ng-if="Main.hasMoreItems"></i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="item in Main.items">
                        <md-button ng-click="Main.onSelect(item)">{{item}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <span flex></span>
            <div class="md-toolbar-tools" style="position: relative">
                <img class="toolbar-logo" src="img/claudio_poli.png" hide-md hide-sm hide-xs/>
            </div>
        </div>
    </md-toolbar>

    <div id="main-view" ui-view></div>

    <md-toolbar id="bottom-toolbar" class="md-primary md-hue-2">
        <img class="toolbar-logo" src="img/claudio_poli.png" hide-lg hide-xl />
    </md-toolbar>
</body>

<script>
if('serviceWorker' in navigator) {
  navigator.serviceWorker
           .register('/sw.js')
           .then(function() { console.log("Service Worker Registered"); });
}
</script>

</html>