<!DOCTYPE html>
<html lang="en" ng-app="policlaudio">

<head>

    <meta charset="utf-8">

    <meta property="og:title" content="Claudio Poli - Fotografia Macro e Naturalistica"/>
    <meta property="og:description" content="Autore: Claudio Poli fotografo ed escursionista marchigiano,
										  Filosofia: La bellezza delle cose esiste nella mente di chi le osserva - D.Home,
										  Categoria: Fotografia Macro e Naturalistica,
										  Luogo: Molte delle foto presentate sono state scattate presso i Monti del Furlo (Marche),
										  Contenuto: Fotografia Naturalistica e Macrofotografia o Macro fotografia - Le foto sono
										  organizzate e classificate scientificamente,
										  Acquisto: Per consigli, correzioni o informazioni sull'acquisto di foto in formato originale contattare
										  Claudio Poli all'indirizzo info@policlaudio.com"/>
    <meta property="og:url" content="http://policlaudio.com"/>
    <meta property="og:image" content="http://policlaudio.com/img/logo-small.png"/>

    <meta name="robots" content="index,follow,snippet,odp,archive,imageindex"/>
    <meta name="googlebot" content="index,follow,snippet,odp,archive,imageindex"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi aspettano per festeggiare il loro Matrimonio!">
    <meta name="author" content="Simone Tallevi-Diotallevi">

    <title>Claudio Poli - Fotografia Macro e Naturalistica</title>

    <link href="vendor/angular-material/angular-material.min.css" rel="stylesheet" type="text/css">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/app.css" rel="stylesheet" type="text/css">

    <script src="vendor/jquery/jquery.min.js"></script>

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular/angular-aria.min.js"></script>
    <script src="vendor/angular/angular-animate.min.js"></script>
    <script src="vendor/angular/angular-ui-router.min.js"></script>
    <script src="vendor/angular/angular-scroll.min.js"></script>

    <script src="vendor/angular-material/angular-material.min.js"></script>

    <script src="vendor/waypoints/noframework.waypoints.min.js"></script>
    <script src="vendor/waypoints/infinite.min.js"></script>

    <script src="app.js"></script>

    <script src="shared/constants.js"></script>
    <script src="shared/services.js"></script>

    <script src="partials/main.js"></script>
    <script src="partials/home/home.js"></script>

</head>

<body ng-controller="MainCtrl as Main" ng-init="Main.init()">

    <md-toolbar id="top-toolbar" class="md-primary md-hue-2">
        <div class="md-toolbar-tools">
            <div ng-repeat="filter in Main.selectedFilters">
                <md-button ng-click="null"> {{filter}} </md-button> >
            </div>
            <span ng-repeat="filter in Main.selectedFilters"> {{filter}} > </span>
            <md-menu>
                <md-button aria-label="" ng-click="Main.openMenu($mdMenu)">{{Main.selected}}</md-button>
                <md-menu-content width="6">
                    <md-menu-item ng-repeat="(key, values) in Main.items">
                        <md-button ng-click="Main.onSelect(key, values)">{{key}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <span flex></span>
            <div class="md-toolbar-tools" style="position: relative">
                <img class="toolbar-logo" src="img/claudio_poli.png" hide-xs/>
            </div>
        </div>
    </md-toolbar>

    <div id="main-view" ui-view></div>

    <md-toolbar id="bottom-toolbar" class="md-primary md-hue-2">
        <img class="toolbar-logo" src="img/claudio_poli.png"/>
    </md-toolbar>
</body>

</html>